/*logo*/
div#header {
    background: #2b98bf;
    min-height: 82px;
    padding: 8px;
}

#siteinfo {
    float: right;
    color: #fff;
    text-align: right;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif !important;
}

#siteinfo p {
    line-height: 1.2em !important;
}

#numCAU {
    color: #fff;
    font-size: 14px !important;
    font-weight: bold
}

#logo {
    width: 60%;
    float: left;
}

#logoCAU img {
    display: block;
    float: left;
}

#logoUJI img {
    display: block;
    margin-right: 25px;
    float: left;
}

@media screen and (max-width: 767px) {
    #logoCAU img {
        margin: 10px;
    }
}

.footer {
    background-color: #838d8f;
    color: #fff;
    padding: 0 0 30px;
    margin: 50px 0 0;
}

.footer a {
    color: #fff;
}

/*Menu*/
.top-bar {
    background: #1481a8 !important;
    min-height: 45px;
    line-height: 45px;
    margin: 2px 0 30px 0 !important;
    position: relative;
    font-size: 1.1em !important;
}

.top-bar-section > ul > li {
    border-right: solid 1px #e8ffff;
}
.top-bar-section > ul > li.has-dropdown {
    border-left: solid 1px #e8ffff;
    border-right: none;
}

.top-bar ul > li {
    background: #1481a8 !important;
}

.top-bar ul {
    background: #1481a8 !important;
}

.top-bar ul > li.has-dropdown .dropdown li a:hover, .top-bar ul > li.has-dropdown .dropdown li a:focus {
    background: #007295 !important;
}

.top-bar .search {
    padding: 0 !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 25px !important;
}

.pre {
    white-space: pre-wrap;
    display: block;
}

.subject {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

li.active {
    border-top: 1px solid #e9e9e9 !important;
}

.content label {
    color: #707070;
    font-weight: normal;
    vertical-align: top;
    width: 140px;
}

div.title h5 {
    margin: 0;
    font-weight: bold;
}

/*Parte*/
ul.accordion {
    margin: 0 0 10px 0 !important;
}

#results {
    position: absolute;
    background-color: #FFF;
    border: 1px solid #CCC;
    margin-top: -13px;
    z-index: 1;
    padding: 10px;
}

input[type='file'] {
    color: transparent;
}

.select2-container {
    width: 260px !important;
}

#upload-list li {
    border-top: 1px solid #ccc;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 5px 10px;
}

#upload-list li:last-child {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.upload-file-cancel {
    background: url(//static.uji.es/js/extjs/uji-commons-extjs/img/bin_closed.png) no-repeat;
    cursor: pointer;
    border: none;
    width: 16px;
    height: 16px;
}

#formUploadfile:hover {
    cursor: pointer;
}

.upload-file-att {
    background: no-repeat url('/cau/images/clip.png');
    padding: 10px;
    cursor: pointer;
    border: none;
    width: 16px;
    height: 16px;
}

/*.suscrito:before {*/
    /*content: '\e800';*/
    /*background: no-repeat url('/cau/images/eye.png');*/
    /*background-size: contain;*/
    /*width: 15px;*/
    /*height: 15px;*/
    /*display: block;*/
    /*float: left;*/
    /*margin: 0 6px 0 0;*/
/*}*/

/*.nosuscrito:before {*/
    /*content: '\e801';*/
    /*background: no-repeat url('/cau/images/eye-b.png');*/
    /*background-size: contain;*/
    /*width: 15px;*/
    /*height: 15px;*/
    /*display: block;*/
    /*float: left;*/
    /*margin: 0 5px 0 0;*/
/*}*/

#listado-incidencias {
    border: none;
    font-size: 1em !important;
}

/*#listado-incidencias th, #listado-incidencias tr:hover {*/
/*background-color: #ccc;*/
/*}*/
#listado-incidencias {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#listado-incidencias th {
    /*font-size: 13px;*/
    /*font-weight: normal;*/
    padding: 8px;
    background: #2b98bf;
    /*border-top: 2px solid #2b98bf;*/
    border-bottom: 1px solid #fff;
    color: #fff;
}

#listado-incidencias td {
    padding: 8px;
    /*background: #e6f3f8;*/
    border-bottom: 1px solid #fff;
    color: #333;
    border-top: 1px solid transparent;
}

#listado-incidencias tr:hover td {
    background: #c7cdcf;
    color: #333;
    cursor: pointer;
}

#listado-incidencias tr:nth-child(odd) {
    background-color: #cfeaf3;
}

#listado-incidencias tr:nth-child(even) {
    background-color: #e6f3f8;
}

#listado-incidencias a {
    color: #333;
}

.download-button {
    background: url(//static.uji.es/js/extjs/uji-commons-extjs/img/arrow_down.png) no-repeat;
    cursor: pointer;
    border: none;
    width: 16px;
    height: 16px;
}

.noleido {
    font-weight: 700;
}

#tooltip {
    margin-left: 10px;
    display: none;
    border: solid 1px #7DA7D9;
    background-color: #fff;
    position: absolute;
    padding: 5px;
}

.round-corners {
    border-radius: 5px;
}

.comuni-item span {
    display: block;
    clear: none;
    font-size: 11px;
    font-weight: 700;
}

.comuni-item {
    display: block;
    clear: both;
    background-color: #dfe9f6;
    border-radius: 5px !important;
    margin-bottom: 5px;
    width: 99%;
    padding: 5px 15px !important;
}

.der {
    float: right;
    clear: both;
}

.izq {
    float: left;
    clear: both;
}

.image-user {
    background-image: url(/cau/images/user.jpg);
    background-size: cover;
    width: 80px;
    height: 80px;
    margin: -5px 5px -5px -15px;
}

.x-item-over {
    border: 1px solid #ddd;
    background: #efefef;
    padding: 4px;
}

.red {
    background: red;
}

.partenuevo .x-grid-cell {
    background-color: #fffcc2;
    color: #ff8000;
}

.partependiente .x-grid-cell {
    background-color: #ffe2e2;
    color: #900;
}

.parteresuelto .x-grid-cell {
    background-color: #d1ffc8;
    color: #090;
}

.parteasignado .x-grid-cell {
    background-color: #bce5ff;
    color: #083f99;
}

.parteenprogreso .x-grid-cell {
    background-color: #9ecaff;
    color: #083f99;
}

.partedevuelto .x-grid-cell {
    background-color: #ffe2e2;
    color: #900;
}

.parterechazado .x-grid-cell {
    background-color: #fd8686 !important;
    color: #900;
}

.darkred {
    background: #8B0000;
}

.orange {
    background: orange;
}

.darkgreen {
    background: #006400;
}

.green {
    background: green;
}

.x-form-readonly input, textarea[readonly="readonly"], textarea[readonly] {
    background-image: none;
    background-color: #DDD;
}

.ux-notification-light .x-window-header {
    background-color: transparent;
}

body .ux-notification-light {
    background-image: url('/cau/images/fader.png');
}

.ux-notification-icon-information {
    background-image: url('/cau/images/icon16_info.png');
}

.ux-notification-light .x-window-body {
    text-align: center;
    padding: 15px 5px 18px 5px;
    width: 200px;
    background-color: transparent;
    border: 0px solid white;
}

#searchForm{
    width: auto;
    padding-right: 5px;
}

#searchInput {
    border: none;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.3);
    box-sizing: border-box;
    color: #333;
}
#mas{
    margin-right: 5px;padding-top: 6px;padding-bottom: 5px;
}
.chat {
    background-color: #dfe9f6;
    border-radius: 5px;
    /*box-shadow: 0 0 6px #B2B2B2;*/
    display: inline-block;
    white-space: pre-wrap;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    overflow-wrap: anywhere;
}

.chat footer {
    color: #707070;
    font-weight: normal;
    margin-top: 10px;
    right: 9px;
    text-align: right;
}

.chat::before {
    background-color: #dfe9f6;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform: rotate(29deg) skew(-35deg);
    -moz-transform: rotate(29deg) skew(-35deg);
    -ms-transform: rotate(29deg) skew(-35deg);
    -o-transform: rotate(29deg) skew(-35deg);
    -webkit-transform: rotate(29deg) skew(-35deg);
    width: 20px;
}

.chat-privado {
    background-color: #ff9341 !important;
}

.chat-comunicado {
    background-color: #BFFF7F !important;
}

.chat-comunicado::before {
    background-color: #BFFF7F !important;
}

.chat-privado::before {
    background-color: #ff9341 !important;
}

.chat-estado {
    background-color: #FFB !important;
}

.chat-estado::before {
    background-color: #FFB !important;
}

.me {
    float: left;
    margin: 5px 45px 5px 20px;
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
    left: -9px;
}

.you {
    float: right;
    margin: 5px 20px 5px 45px;
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, .4);
    right: -9px;
}

.clear {
    clear: both;
}

.encuesta{
    width: 100%;
    border: none;
}
.encuesta>table,tbody,tr,td {
    padding: 0px !important;
}
/*Rating*/
.rating {
    float:left;
    border: none;
    font-size: 15pt !important;
    padding: 0;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.my-boundlist-item-menu {
    padding: 0 6px;
    line-height: 22px;
    cursor: pointer;
    cursor: hand;
    position: relative;
    zoom: 1;
    border-width: 1px;
    border-style: dotted;
    border-color: white;
}

.my-boundlist-item-menu:hover {
    background: #e0e0e0;
    border-color: #e0e0e0;
}

.spinner {
    background: #fff url('select2-spinner.gif') no-repeat 100%;
    background: url('select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url('select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('select2-spinner.gif') no-repeat 100%, linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0;
    width: 20px;
    height: 20px;
    position: absolute;
    display: none;
}

.textoCorreoNoValido{
    color: #8B0000;
}